.main-container {
  margin: auto;
  margin-top: 100px;
  width: 1000px;
  height: 500px;

  background-color: #4d4891;

  border-radius: 20px;
  -webkit-box-shadow: 0px 6px 8px 4px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0px 6px 8px 4px rgba(0, 0, 0, 0.46);
  box-shadow: 0px 6px 8px 4px rgba(0, 0, 0, 0.46);

  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.main-form {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 50%;
  height: 50%;
  justify-content: space-evenly;
}

.answer-field {
  /* border: 1px solid black; */
  border-radius: 20px;
  background-color: rgb(235, 235, 235);
  height: 100px;

  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: fantasy;
}

.main-button {
  border-radius: 20px;
  border: white solid;
  cursor: pointer;
  width: 50%;
  margin: auto;
  align-content: center;

  -webkit-box-shadow: 0px 0px 17px 0px rgba(110, 168, 255, 0.75);
  -moz-box-shadow: 0px 0px 17px 0px rgba(110, 168, 255, 0.75);
  box-shadow: 0px 0px 17px 0px rgba(110, 168, 255, 0.75);

  transition: 0.3s;
}

.main-button:hover {
  transform: scale(1.1);
}

.board {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #47446d;
  width: 400px;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.board-row {
  padding: 2px;
}

.board-body {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  background-color: #9590c8;
  padding: 10px;
  transition: 0.3s;
}

.operations{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.d-none {
  display: none;
  transition: 0.3s;
}
